/* ANIMAÇÕES */
@keyframes up {
  from {
    opacity: 0;
    transform: translateY(16px); /* move 16px para baixo */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-up {
  animation-name: up;
  animation-duration: 300ms;
  animation-fill-mode: backwards; /* assim que ele fizer a transição ele para com as definições aplicadas no elemento  */
}
