<!DOCTYPE html>
<!-- Explica o tipo de HTML que esta usando, no caso HTML 5 -->
<html lang="pt_BR">
  <!-- Isto é um ATRIBUTO -->
  <head>
    <!-- Configura o site -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Localize um Orfanato | Happy</title>

    <!-- Adicionando o MAPA -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <!-- JavaStript do MAPA -->
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>

    <link rel="icon" href="./public/images/logo-icon.png" />
    <!-- Adicionando um icone no aba da página | o "href" é o caminho que ele irá buscar para "puxar o icone" | o "./" é o diretório rot (inicial)-->

    <link rel="stylesheet" href="./public/css/main.css" />
    <link rel="stylesheet" href="./public/css/animations.css" />
    <link rel="stylesheet" href="./public/css/page-orphanages.css" />

    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="page-orphanages">
      <aside class="animate-right">
        <header>
          <a href="/index.html">
            <img src="./public/images/map-marker.svg" alt="Happy" />
          </a>

          <h2>Escolha um Orfanato no mapa</h2>

          <p>Muitas crianças estão esperando sua visita :)</p>
        </header>

        <footer>
          <strong>Divinópolis</strong>
          <p>Minas Gerais</p>
        </footer>
      </aside>

      <div id="mapid" class="animate-apper"></div>

      <a
        href="create-orphanage.html"
        class="create-orphanage"
        title="Cadastre um Orfanato"
      >
        <img src="./public/images/plus.svg" alt="Criar um Orfanato" />
      </a>
    </div>

    <!-- Adicionando o MAPA -->

    <script src="./public/scripts/page-orphanages.js"></script>
  </body>
</html>
